<a href="index" class="btn btn-primary"></a> <br>
<div class="vacancies">
    <div class="filtres">
        <div class="areas">
            <label>Регион</label>
        <?php
        echo "<select name = ''>";

        foreach ($areas as $area)
        {
            echo "<option value = '$area->Name' > $area->Name</option>";

        }

        echo "</select>";

        ?>


    </div>
        <div class="salary">
        <label>Зарплата</label><br>
        <select>
            <option>Маленькая</option>
            <option>Средняя</option>
            <option>Большая</option>
            <option>Очень большая</option>
        </select>
        </div>
        <div class="experience">
            <label>Опыт работы</label><br>
            <select>
                <option>Нет опыта</option>
                <option>от 1года до 3 лет</option>
                <option>от 3 лет до 6 лет</option>
                <option>Более 6 лет</option>
            </select>
        </div>
        <div class="schedule">
            <label>Тип занятости</label><br>
            <select>
                <option>Полная занятость</option>
                <option>Частичная занятость</option>
                <option>Проектная работа</option>
                <option>Стажировка</option>
                <option>Волонтерство</option>
            </select>
        </div>
        <div class="employment">
            <label>График работы</label><br>
            <select>
                <option>Полная день</option>
                <option>Сменный график</option>
                <option>Гибкий график</option>
                <option>Удаленная работа</option>
                <option>Вахтовый метод</option>
            </select>
        </div>
        <div class="period">
            <label>Период публикации</label><br>
            <select>
                <option>За месяц</option>
                <option>За неделю</option>
                <option>За 3 дня</option>
                <option>за сутки</option>

            </select>
        </div>
        <div class="mestjhit">
            <label>Удаление от места жительства</label><br>
            <select>
                <option>Близко</option>
                <option>Далеко</option>
                <option>За 3 дня</option>
                <option>за сутки</option>

            </select>
        </div>
    </div>
    <?php
    foreach ($vacancies as  $vacancy):
        ?>

            <?php echo $vacancy->idVacancies ?>
            <?php echo $vacancy->Name ?>
             <br>

    <?php endforeach; ?>

</div>