<? use Phalcon\Tag; ?>
<!DOCTYPE html>
<html>
<?= Tag::stylesheetLink("css/theme.css")?>
<?= Tag::stylesheetLink("css/font-awesome/css/all.css")?>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Личный кабинет</title>

</head>
<a href="index" class="btn btn-primary"></a> <br>
<body>
<div class=""></div>
<!--<nav class="navbar navbar-expand-md bg-primary navbar-dark">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="#">-->
<!--            <strong>«Личный кабинет» для администратора</strong>-->
<!--        </a>-->
<!--    </div>-->
<!--</nav>-->

<div class="container py-5" style="width: 400px">

    <div class="card text-white bg-primary">
        <div class="card-body ">
            <h1 class="m-2">Вход для <br/> администратора</h1>

            <?=
            Tag::form([
                "/session/adminAuthorizate", 'method'=>"POST",'class'=>"px-4 pt-3"
            ]);
            ?>
            <div class="form-group form-row">
                <div class="col-md-3">
                    <label>Логин</label>
                </div>
                <div class="col-md-9">
                    <?=
                    Tag::textField([
                        'login', 'class'=>"form-control",'placeholder'=>"Логин"
                    ]);
                    ?>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-3">
                    <label>Пароль</label>
                </div>
                <div class="col-md-9">
                    <?=
                    Tag::passwordField([
                        'pass', 'class'=>"form-control",'placeholder'=>"Пароль"
                    ]);
                    ?>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-secondary">Войти</button>
            </div>
            </form>
        </div>
        <div style="margin-bottom:-50px; margin-top:30px;">

        </div>
    </div>
</div>

<script src="/js/jquery/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
</body>

</html>

