
<? use Phalcon\Tag; ?>


<div class="searhk">

    <?=
    Tag::form([
        "/search", 'method'=>"POST"
    ]);
    ?>

        <input type="search" name="inpsearch" placeholder="Профессия, должность или компания">
<!--        <a href="Search" class="nai"></a> <br>-->
    <button type="submit" name="bsearch" class="btn btn-secondary">Gjbcr</button>

    </form>
    <div class="citat"></div>
    <div class="citat2"></div>

</div>


