<? use Phalcon\Tag; ?>
<!DOCTYPE html>

<head>
    <title>Компания JH</title>

    <?= Tag::stylesheetLink("css/theme.css")?>
    <?= Tag::stylesheetLink("css/font-awesome/css/all.css")?>

</head>

<header>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
<?php
    echo Phalcon\Tag::image(
    [
    "img/logo.jpg",
    "alt" => " ",
        "width" =>"200",
        "height"=>"90",
    ]
    );
    ?>
<!--        <img class="img-thumbnail" src="img\logo.jpg" width="200" height="90" alt="">-->
    <?php
    if($this->session->get("auth")['role']=='Admin')
        echo '  
  <a class="btnapi" href="#"></a>
 <a class="btnout" href="/session/logout/"></a>';
    ?>
</nav>
</header>
<?php
echo $this->getContent();
?>
</body>
